[Unit]
Description="%p Container Service"
After=network-online.target
Wants=network-online.target
After=docker.service
Requires=docker.service
ConditionPathExists={{PWD}}
ConditionPathExists={{NOVPN_RUNTIME_ENV}}

[Service]
TimeoutStartSec=0
EnvironmentFile={{NOVPN_RUNTIME_ENV}}
ExecStart=/usr/bin/docker compose --project-directory {{PWD}} up
ExecStop=/usr/bin/docker compose --project-directory {{PWD}} down
Restart=on-failure
RestartSec=5
